#head2 {
     color:#CB8454;
 }
#head1{
    color:#9A574A;
}
.tre{
    color:#9FB9F6;
}
.shapka{
    color:#00FF8F;
    background-color:#3427C7;
    border:7px solid #323232;
    font-size:35px;
    margin-bottom:2px;
    padding:30px;
    border-radius:20px;
    box-shadow:10px 10px 7px #000000;
    width:100%;
    height:50px;
    text-align:center;
    font-weight:800;
    
}
.s{
    background-color:#322935;
    color:#EB4C42;
}
#page{
    float:left; 
    margin-left:40%;
    margin:-23px; 
    width:110px; 
    height:95px;
}
.nav li { 
    display: inline; 
}
.nav a {
    display: inline;
    padding:15px;
    background-color: #f4f4f4;
    border: 1px dashed #333;
    text-decoration: none;
    color: #333;
    text-align: center;
    
}
.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}
.podval{
    color:#090909;
}
#main{
    width:960px;
}
body {
    background-color:#3F4A62;
}